{% extends 'base.html' %}

{% block sidebar %}
    {% include 'sidebar.html' %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <label for="server_list">
                    <span>服务器列表：</span>
                </label>
            </div>
            <div class="col-md-4">
                <select name="#" id="server_list" multiple="multiple">
                    {% for obj in objs %}
                        <option value="#">{{ obj.ip }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2" id="server_move" >
                <div>
                    <input type="button" id="right_move" value="右移">
                </div>
                <div>
                    <input type="button" id="left_move" value="左移">
                </div>
            </div>
            <div class="col-md-4">
                <select name="#" id="server_list_execute" multiple="multiple">

                </select>
            </div>
        </div>
    </div>

{% endblock %}

